body {
    background: #ffffff;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
}

.box-container {
    width: 95%;
    /* height: 700px; */
    width: 95%;
    margin-left: 3%;
    border-radius: 20px;
    box-shadow: 7px 7px 14px 5px rgba(0, 0, 0, 0.18);
}

.header-nova-tarefa {
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    padding: 35px;
}

.body-conteudo-tarefas {
    background-color: #ffffff;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1 {
    color:  rgba(0, 0, 0, 0.18);
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

li {
    list-style: none;
    line-height: 3;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid #efefef;
}

ul {
    padding: 0;
}

ul li.checked {
    text-decoration: line-through;
    color: #444444;
    outline: none;
   
}

span {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}

span:hover {
    background-color: red;

}

.div-vazia {
    background-color: #f8cfa8;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
}

input {
    padding: 22px;
    border-bottom: 1px solid;
    border: none;
    font-size: 15px;
    color: black;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid;
    text-align: center;
}
::-webkit-input-placeholder {
    color: black;
}

.botoes-acoes {
    display: flex;
    justify-content: center;
    margin: 15% 0;
}

.botao-add {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: black;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.tarefas-concluidas {
    width: 90px;
    height: 40px;
    border: none;
    background: white;
    color: black;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    border: 1px solid rgb(216, 216, 216);
}

.tarefas-concluidas:hover {
    background-color: rgb(62, 167, 62);
    color: white;
    box-shadow: 1px 1px 7px 0px rgba(158, 237, 148, 0.75);
}

.excluir-tarefas {
    width: 90px;
    height: 40px;
    border: none;
    background: white;
    color: black;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    border: 1px solid rgb(216, 216, 216);
}

.excluir-tarefas:hover {
    background-color: red;
    color: white;
    box-shadow: 1px 1px 7px 0px rgba(255, 141, 141, 0.75)
}

.desmarcar-tarefas {
    width: 90px;
    height: 40px;
    border: none;
    background: white;
    color: black;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 0 30px;
    text-transform: uppercase;
    border: 1px solid rgb(216, 216, 216);
}

.desmarcar-tarefas:hover {
    background-color: rgb(135, 135, 135);
    color: white;
    box-shadow: 1px 1px 7px 0px rgba(201, 201, 201, 0.75)
}

.tarefa-concluida {
    text-decoration: line-through;
    color:  rgb(135, 135, 135);
    outline: none;
}

/* .lista-tarefas {

} */
