body {
    font-family: 'Slabo 27px', serif;
    background: #615df0;
    padding: 0;
    margin: 0 auto;
}

.elemento-imagem {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
    align-items: center;
    margin: 0 auto;
    box-shadow: 10px 10px 38px 3px rgba(0,0,0,0.19);
    display: flex;
    justify-content: center;
}


img {
    width: 100px;
}

section {
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#botaoSemClick {
    color: #fff;
    background: #615df0;
    border: none;
    width: 150px;
    margin: 0 auto;
    border-radius: 40px;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    box-shadow: 10px 10px 38px 3px rgba(0,0,0,0.19);
}

#botaoSemClick.botao-com-click{
    color: #615df0;
    background: #fff;
    border: none;
    width: 150px;
    margin: 0 auto;
    border-radius: 40px;
    margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    outline: none;
    box-shadow: 10px 10px 38px 3px rgba(0,0,0,0.19);
}
